SESSION_SECRET=your-session-secret
API_HOST=your-api-host
# Redis Configuration
REDIS_TYPE=false
REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port
REDIS_PASSWORD=your-redis-password
REDIS_PREFIX=your-redis-prefix: